<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{AS.take('id')}}">Kroeg</a>
    <span class="navbar-text">
        Rendered!
    </span>

    <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{AS.take('loggedInAs')}}" x-if="AS.has('loggedInAs')">Logged in as {{AS.take('loggedInAs')}}</a>
        <a class="nav-item nav-link" x-if="AS.has('loggedInAs')" onclick="Kroeg.logout()">Log out</a>
        <a class="nav-item nav-link" x-if="!AS.has('loggedInAs')" onclick="Kroeg.login()">Log in</a>
    </div>
</nav>