<div class="row" style="padding-left: 58px; position: relative">
	<div class="col-md-12" x-if="AS.take('object') == AS.take('actor')">
		<div x-render="objects/sub/user_header" x-render-id="AS.take('actor')"></div>
		<a href="{{AS.take('object')}}"><small x-if="AS.has('published')">updated their profile at {{Renderer.date(AS.take('published'))}}</small></a>
	</div>
	<div class="col-md-12" x-if="AS.take('object') != AS.take('actor')">
		<div x-render="objects/sub/user_header" x-render-id="AS.take('actor')"></div>
		<a href="{{AS.take('object')}}"><small x-if="AS.has('published')">updated at {{Renderer.date(AS.take('published'))}}</small></a>
	</div>
	<div class="col-md-12" x-if="AS.take('object') != AS.take('actor')">
		<div x-render="objects/no-header/object" x-render-id="AS.take('object')"></div>
	</div>
	<div class="col-md-12" x-if="AS.take('object') == AS.take('actor')" x-render-id="AS.take('object')">
		{{Renderer.clean(AS.take('summary'))}}
	</div>
</div>
