<div>
        <div x-if="AS.has('inReplyTo')" x-render="objects/header/object" x-render-id="AS.take('inReplyTo')" x-render-extraClass="inReplyTo"></div>
	<div class="row" style="padding-left: 58px; position: relative">
		<div class="col-md-12">
			<div x-render="objects/sub/user_header" x-render-id="AS.take('attributedTo')"></div>
			<a href="{{AS.take('id')}}"><small>at {{Renderer.sanitize(AS.take('published'))}}</small></a>
		</div>
		<div class="col-md-12 kroeg-content">
			<div>
				{{Renderer.clean(AS.take('content'))}}
			</div>
			<div class="kroeg-attachments">
				<div x-render="attachment/attachment" x-render-id="item" x-for-in="{{AS.get('attachment')}}"></div>
			</div>
		</div>
	</div>
</div>
