<div>
        <div x-if="AS.has('inReplyTo') && Data['hide-reply'] != 'true'" x-render="objects/header/object" x-render-id="AS.take('inReplyTo')" x-render-extra-class="inReplyTo"></div>
	<div class="row" style="padding-left: 58px; position: relative">
		<div class="col-md-12">
			<div x-render="objects/sub/user_header" x-render-id="AS.take('attributedTo')"></div>
			<a href="{{AS.take('id')}}"><small>at {{Renderer.date(AS.take('published'))}}</small></a>
        	        <small x-if="AS.containsAny('to', ['https://www.w3.org/ns/activitystreams#Public', 'as:Public'])" style="float: right" title="Public">{{Renderer.clean('\uD83C\uDF10')}}</small>
	                <small x-if="AS.containsAny('cc', ['https://www.w3.org/ns/activitystreams#Public', 'as:Public'])" style="float: right" title="Unlisted">{{Renderer.clean('\uD83D\uDE48')}}</small>
	       	        <small x-if="!AS.containsAny('to', ['https://www.w3.org/ns/activitystreams#Public', 'as:Public']) && !AS.containsAny('cc', ['https://www.w3.org/ns/activitystreams#Public', 'as:Public'])" style="float: right" x-render-id="AS.take('attributedTo')" x-render-to="{{AS.get('to').join(' ')}} {{AS.get('cc').join(' ')}} ">
				<span x-if="Data['to'].indexOf(AS.take('followers') + ' ') != -1" title="Follower-only">{{Renderer.clean('\uD83D\uDD12')}}</span>
				<span x-if="Data['to'].indexOf(AS.take('followers') + ' ') == -1" title="Private">{{Renderer.clean('\uD83D\uDCE9')}}</span>
			</small>
		</div>
		<div class="col-md-12 kroeg-content">
		        <div x-if="AS.has('inReplyTo') && Data['hide-reply'] == 'true'" x-render="objects/sub/in_reply_to" x-render-id="AS.take('inReplyTo')"></div>
			<div x-if="!AS.has('summary')" data-component="emoji" data-context="{{AS.take('id')}}" class="kroeg-content-ws">{{Renderer.clean(AS.take('content'))}}</div>
			<details x-if="AS.has('summary')">
				<summary>{{Renderer.sanitize(AS.take('summary'))}}</summary>
				<div>
					<div data-component="emoji" data-context="{{AS.take('id')}}" class="kroeg-content-ws">{{Renderer.clean(AS.take('content'))}}</div>
					<div class="kroeg-attachments" x-if="Data['attachment'] != 'false' && AS.has('summary')">
						<div x-render="attachment/attachment" x-render-id="item" x-for-in="{{AS.get('attachment')}}"></div>
					</div>
				</div>
			</details>
			<div class="kroeg-attachments" x-if="Data['attachment'] != 'false' && !AS.has('summary')">
				<div x-render="attachment/attachment" x-render-id="item" x-for-in="{{AS.get('attachment')}}"></div>
			</div>
			<div class="kroeg-attachments" x-if="(AS.has('summary') || Data['attachment'] == 'false') && AS.get('attachment').length > 0">
				<small>{{AS.get('attachment').length.toString()}} attachment{{AS.get('attachment').length == 1 ? "" : "s"}}</small>
			</div>
			<div x-render="objects/sub/buttons"></div>
		</div>
	</div>
</div>
