<div class="row" style="padding-left: 58px; position: relative">
    <div class="col-md-12">
        <div>
            <span>
                <a href="{{AS.take('id')}}">
                    <img src="//via.placeholder.com/48x48" width="48" height="48" style="margin-left: -58px; border-radius: 100%; position: absolute;" x-render="objects/sub/user_profile" x-render-id="{{AS.take('icon')}}" x-render-if="AS.has('icon')" />
                    {{AS.take('name').length > 0 ? AS.take('name') : AS.take('preferredUsername', AS.take('id'))}}
                </a>
            </span>
        </div>
    </div>
    <div class="col-md-12 kroeg-content">
        {{Renderer.clean(AS.take('summary'))}}
    </div>
</div>

