<div>
    <h1>Add object to collection</h1>

    <form data-component="form" data-endpoint="{{Renderer.loggedInAs.outbox}}">
        <input type="hidden" name="type" value="Add" />
        <input type="hidden" name="actor" value="{{Renderer.loggedInAs.id}}" />
        <input type="hidden" name="object" value="{{Data.item}}" />

        <div x-render="objects/header/object" x-render-id="Data.item"></div>

        <div class="form-group">
            <label for="_addTo">Add to:</label>
            <input type="text" name="target" class="form-control" />
        </div>

        <div class="form-group">
            <label for="_taggyTo">Send to:</label>
            <div x-render-id="Data.post">
                <div class="kroeg-taggy form-control" data-default="{{Renderer.loggedInAs.followers}} {{AS.take('attributedTo')}}" data-component="userpicker" data-name="to"><span class="kroeg-taggy-tags"></span><div class="kroeg-taggy-input"><input type="text" id="_taggyTo" value="" /></div></div>
            </div>
            <label class="form-check-label">
                <input type="checkbox" checked="checked" class="form-check-input" name="to" value="https://www.w3.org/ns/activitystreams#Public">
                Also send publicly
            </label>
        </div>

        <div class="form-group">
            <label for="_taggyCC">CC these people:</label>
            <div class="kroeg-taggy form-control" data-component="userpicker" data-name="cc"><span class="kroeg-taggy-tags"></span><div class="kroeg-taggy-input"><input type="text" id="_taggyCC" value="" /></div></div>
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="cc" value="https://www.w3.org/ns/activitystreams#Public">
                Also CC publicly
            </label>
        </div>

        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</div>
