<div>
    <h1>New article</h1>

    <form data-component="form" data-endpoint="{{Renderer.loggedInAs.outbox}}">
        <input type="hidden" name="type" value="Article" />
        <div class="form-group">
            <label for="_name">Name:</label>
            <input type="text" class="form-control" name="name" id="_name" />
        </div>
        <div class="form-group">
            <label for="_summary">Summary:</label>
            <input type="text" class="form-control" name="summary" id="_summary" />
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="sensitive.bool" value="true">
                Sensitive
            </label>
        </div>
        <div class="form-group">
            <label for="_content">Content:</label>
            <div class="form-control" data-component="wysiwyg" data-tags="to" data-placeholder="Enter your content here" data-name="content" id="_content"></div>
        </div>
        <div class="form-group">
            <label for="_taggyTo">Send to:</label>
            <div class="kroeg-taggy form-control" data-component="userpicker" data-default="{{Renderer.loggedInAs.followers}}" data-name="to"><span class="kroeg-taggy-tags"></span><div class="kroeg-taggy-input"><input type="text" id="_taggyTo" value="" /></div></div>
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="to" value="https://www.w3.org/ns/activitystreams#Public">
                Also send publicly
            </label>
        </div>
        <div class="form-group">
            <label for="_taggyCC">CC these people:</label>
            <div class="kroeg-taggy form-control" data-component="userpicker" data-name="cc"><span class="kroeg-taggy-tags"></span><div class="kroeg-taggy-input"><input type="text" id="_taggyCC" value="" /></div></div>
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="to" value="https://www.w3.org/ns/activitystreams#Public">
                Also CC publicly
            </label>
        </div>

        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</div>
