<div>
    <h1>New <span x-if="Data.reply">reply</span><span x-if="!Data.reply">note</span></h1>

    <form data-component="form" data-endpoint="{{Renderer.loggedInAs.outbox}}">
        <input type="hidden" name="type" value="Note" />
        <input type="hidden" name="inReplyTo" value="{{Data.reply}}" x-if="Data.reply" />

        <div x-if="Data.reply" x-render="objects/header/object" x-render-id="Data.reply"></div>
        <div class="form-group">
            <label for="_name">Name:</label>
            <input type="text" class="form-control" name="name" id="_name" />
        </div>
        <div class="form-group">
            <label for="_content">Content:</label>
            <div x-if="!Data.reply" class="form-control" data-component="wysiwyg" data-tags="to" data-placeholder="Enter your content here" data-name="content" id="_content"></div>
            <div x-if="Data.reply" x-render-id="Data.reply">
            <div x-render-id="AS.take('attributedTo')">
                <div class="form-control" data-component="wysiwyg" data-tags="to" data-placeholder="Enter your content here" data-name="content" id="_content"><p><a class="mention" href="{{AS.take('id')}}">@{{AS.take('preferredUsername')}}</a> (reply here)</p></div>
            </div>
            </div>
        </div>
        <div class="form-group">
            <label for="_taggyTo">Send to:</label>
            <div x-if="!Data.reply" class="kroeg-taggy form-control" data-default="{{Renderer.loggedInAs.followers}}" data-component="userpicker" data-name="to"><span class="kroeg-taggy-tags"></span><div class="kroeg-taggy-input"><input type="text" id="_taggyTo" value="" /></div></div>
            <div x-render="client/_recurse_reply" x-render-id="Data.reply" x-render-depth="3" x-render-default=" " x-if="Data.reply"></div>
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="to" value="https://www.w3.org/ns/activitystreams#Public">
                Also send publicly
            </label>
        </div>
        <div class="form-group">
            <label for="_taggyCC">CC these people:</label>
            <div class="kroeg-taggy form-control" data-component="userpicker" data-name="cc"><span class="kroeg-taggy-tags"></span><div class="kroeg-taggy-input"><input type="text" id="_taggyCC" value="" /></div></div>
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="cc" value="https://www.w3.org/ns/activitystreams#Public">
                Also CC publicly
            </label>
        </div>

        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</div>
