<div class="col-md-12 nopad">
	<div x-render="client/object" x-if="AS.take('id').indexOf('kroeg:') == 0"></div>
	<div class="list-group" x-if="AS.get('actor').length > 0">
		<div class="list-group-item">
			<div x-render="objects/activities/activity"></div>
		</div>
	</div>
	<div x-if="AS.containsAny('type', ['Person', 'Group'])" x-render="objects/user"></div>

	<div class="list-group" x-if="AS.take('id').indexOf('kroeg:') != 0 && AS.get('actor').length == 0 && !AS.containsAny('type', ['Person', 'Group'])">
		<div class="list-group-item">
			<div x-render="objects/header/object" x-render-attachment="true" x-render-hide-reply="false"></div>
		</div>
	</div>

	<div data-component="renderhost" data-template="collection/full" data-id="{{AS.take('replies')}}" x-render-hide-reply="true" x-if="{{AS.has('replies')}}"></div>
        <div class="list-group" x-if="AS.has('c2s:replies')">
            <div class="list-group-item" x-for-in="AS.get('c2s:replies')">
                <div x-render="objects/header/object" x-render-id="item" x-render-hide-reply="true"></div>
            </div>
        </div>
</div>
