<div class="h-card">
    <h1><span class="kroeg-username p-name">{{Renderer.sanitize(AS.take('name', AS.take('preferredUsername')))}}</span> <small>{{AS.take('id')}}</small></h1>
    <div x-if="Renderer.loggedInAs != null && Renderer.loggedInAs.id != AS.take('id') && !AS.has('c2s:follows')">
        <form data-endpoint="{{Renderer.loggedInAs.outbox}}" data-component="form">
           <input type="hidden" name="type" value="Follow" />
           <input type="hidden" name="actor" value="{{Renderer.loggedInAs.id}}" />
           <input type="hidden" name="object" value="{{AS.take('id')}}" />
           <input type="hidden" name="to" value="{{AS.take('id')}}" />
           <input type="submit" class="btn btn-primary" value="Follow" />
        </form>
    </div>
    <div x-if="Renderer.loggedInAs != null && Renderer.loggedInAs.id != AS.take('id') && AS.has('c2s:follows')">
        <form data-endpoint="{{Renderer.loggedInAs.outbox}}" data-component="form">
           <input type="hidden" name="type" value="Undo" />
           <input type="hidden" name="actor" value="{{Renderer.loggedInAs.id}}" />
           <input type="hidden" name="object" value="{{AS.take('c2s:follows')}}" />
           <input type="hidden" name="to" value="{{AS.take('id')}}" />
           <input type="submit" class="btn btn-primary" value="Unfollow" />
        </form>
    </div>
    <ul>
        <li x-render-id="AS.take('following')">following <b>{{AS.take('totalItems', 'unknown')+''}}</b> peeps</li>
        <li x-render-id="AS.take('followers')">and <b>{{AS.take('totalItems', 'unknown')+''}}</b> accounts follow them</li>
    </ul>
    <div class="kroeg-content kroeg-content-ws">{{Renderer.clean(AS.take('summary'))}}</div>
</div>
